@media (min-width: 600px) {
  .headings {
    margin-left: 50px;
  }
  nav ul {
    margin: 0;
  }
  .navigation {
    flex-direction: row;
  }
  .navigation li:first-child {
    display: none;
  }
  .navigation li {
    display: inline-block;
  }
  .forecast {
    display: inline-block;
  }
  .forecast table {
    width: 400px;
    border-collapse: collapse;
  }
  .forecast table, .forecast th, .forecast td{
    border: 1px solid black;
    padding: 5px;
  }
  .forecast th {
    background-color: #348899;
    margin: 0;
  }
  article {
    max-width: 500px;
  }
  article img {
    float: right;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-item {
    box-shadow: 3px 3px 3px  lightgrey;
  }

  .about {
    max-width: 480px;
  }

  .town-data {
    grid-template-columns: 250px 250px;
  }
}
