@media (min-width: 800px) {
  body {
    max-width: none;
  }
  .headings {
    margin-left: 50px;
  }
  nav ul li {
    display: inline;
    margin: 0;
  }
  .navigation li:first-child {
    display: none;
  }
  .navigation li {
    display: inline-block;
  }
  .summary {
  }
  .forcast {
    display: inline-block;
    margin: 30px 0 50px 0;
  }
  .forcast table {
    width: 400px;
    border-collapse: collapse;
  }
  .forcast table, .forcast th, .forcast td{
    border: 1px solid black;
  }
  .forcast th {
    background-color: #348899;
    margin: 0;
  }

  article {
    border-style: solid;
    border-width: 1px;
  }
  .article img {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}
