@media (min-width: 800px) {
  body {
    max-width: none;
  }

  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery-item:hover {
    box-shadow: 5px 5px 5px  grey;
  }
  article {
    max-width: 800px;
  }
}
