@media (min-width: 600px) {
  body {
    max-width: none;
  }
  .headings {
    margin-left: 50px;
  }
  nav ul li {
    display: inline;
  }
  .title {
    font-size: 20px;
  }
  .summary {
    max-width: 800px;
  }
  .summary img {
    width: 800px;
  }
  .forcast {
    display: inline-block;
  }
  .forcast table {
    width: 400px;
    border-collapse: collapse;
  }
  .forcast table, .forcast th, .forcast td{
    border: 1px solid black;
  }
  .forcast th {
    background-color: #348899;
    margin: 0;
  }
  .forcast img {
    max-width: 40px;
  }
}
