body {
  color: #343642;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}
header {
  padding: 5px;
  background-color: #f2ebc7;
  font-family: Tahoma,Geneva,sans-serif;
  margin: 0 auto;
  vertical-align: middle;
}
header img {
  width: 80px;
  vertical-align: middle;
}
.headings {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: 5px;
}
.moto {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  /* text-align: left; */
}
nav {
  padding: 10px;
  background-color: #348899;
  font-family: Tahoma,Geneva,sans-serif;
}
nav ul {
  padding: 0;
  list-style-type: none;
}
nav ul li {
  /* display: block; */
  padding: 3px;
}
nav a {
  /* display: block; */
  color: #343642;
  font-size: 20px;
  text-decoration: none;
  padding: 3px;
}

nav a:hover {
  background-color: #5c9fad;
}

h1,h2,h3 {
  font-family: Tahoma,Geneva,sans-serif;
}
h1 {
  font-size: 20px;
  color: #962d3e;
  padding: 0px;
  margin: 0 auto;
}
h2, h3 {
  color: #979c9c;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}

.selected a {
  color: #5c5e67;
}
.summary {
  position: relative;

}
.summary img {
  width: 400px;
}
.currentweather {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #348899;
  opacity: .9;
  padding: 5px;
}
.right {
  text-align: right;
}
.left {
  text-align: left
}

.forcast {
}
.forcast table {
  border: 1px solid black;
}
.forcast th {
  background-color: #348899;
  margin: 0;
}
.forcast img {
  max-width: 40px;
}

footer {
  background-color: #343642;
  color: #fff;
  padding: 10px;
  margin: 0 auto;
}
